<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"><b>{{ site.title | escape }}</b></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
            <b>{{ site.author | escape }}</b>
            {% else %}
            <b>{{ site.title | escape }}</b>
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
		<!--Added by SAC-->
		<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
		<!-- -->
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <b>{% include icon-github.html username=site.github_username %}</b>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <b>{% include icon-twitter.html username=site.twitter_username %}</b>
          </li>
          {% endif %}

          {% if site.mastodon_username %}
          <li>
            <b>{% include icon-mastodon.html username=site.mastodon_username %}</b>
          </li>
          {% endif %}
		  
      <!-- Commented by SAC: LinkedIn not included at the moment
		  {% if site.linkedin_username %}
		  <li>
			{% include icon-linkedin.html username=site.linkedin_username %}
		  {% else %}
			{{ site.linkedin_username | escape }}
		  </li>
		  {% endif %}
      -->
        </ul>
      </div>

      <div class="footer-col footer-col-3">
	   <ul style="list-style-type:none">
	     <li>
		   {% if site.description %}
              <b>{{ site.description | escape }}</b>
           {% endif %}
		 </li>
		 <li>
		   {% if site.description2 %}
              <i>{{ site.description2 | escape }}</i>
           {% endif %}
		 </li>
        </ul>
	  </div>
    </div>
  </div>

</footer>
