---
layout: default
---

<div class="home">

  <!--<h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>-->
  
  <!-- 230118: Change home -->
  <!-- Setting latest post on top and then adding a line below -->
  <!--
  <div style='overflow:hidden; white-space:nowrap;'>
    <h1 class="page-heading">Latest posts</h1>
    <ul class="post-list">
      {% for post in site.posts limit:2 %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <a class="page-heading" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
      {% endfor %}
    </ul>
  </div><hr style='display:inline-block; width:100%;' /></div>-->
  
  <p>Hi everyone!</p>
  <img src="../assets/figs/sac.jpg" alt="Sandra" style="border-left:1px solid  #ffffff;padding-left:10px;float:right;width:235px;height:320px;">
  <!--![image](){: style="float: right" width="30%"}-->
  <p style="padding-right:5px">I am Sandra Álvarez-Carretero, a computational biologist working as a senior research associate in phylogenomics at
    <a href="https://www.bristol.ac.uk/people/person/Sandra-Alvarez-Carretero-76142ecd-fddd-45c3-a712-787d3a906d30/">University of Bristol</a> with <a href="https://www.bristol.ac.uk/people/person/Philip-Donoghue-4fd2d6ef-3986-4566-97e4-7ae7db296525/">Phil Donoghue</a>, <a href="https://www.bristol.ac.uk/people/person/Tom-Williams-09520f33-b160-4776-a3fc-e375215ae687/">Tom Williams</a>, and <a href="https://www.bristol.ac.uk/people/person/Davide-Pisani-27ef6f2a-19b3-4474-b71c-e61f2c8585a4/">Davide Pisani</a>.</p>

  <p>Even though now I cannot imagine a day working without my laptop, my career started at the wet lab and, little by little, I specialised in computer science.</p>
  <p>You can learn more about my research in evolution by following the next links:
    <ul>
      <li>Open source projects and pipelines available as <a href="https://github.com/sabifo4">GitHub repositories under my account <b>@sabifo4</b></a>.</li>
      <li>Extended CV with links to relevant resources in <a href="https://sabifo4.github.io/about/">the <b>About</b> section of this website</a>.</li>
    </ul></p>
  <p>You can also check my <a href="https://linktr.ee/sabifo4"><b>personal linktr.ee site</b></a> for an easy access to the following content:
    <ul>
      <li><b>Social media accounts</b> that I use for research purposes.</li>
      <li>Scheduled <b>courses/workshops</b> that I am going to teach.</li>
      <li>Most relevant <b>computational tools</b> that I have developed.</li>
    </ul></p>
  <p>If you have any questions or would like to discuss possible project collaborations, please <a href="https://sabifo4.github.io/contact/"><b>contact me</b></a>.</p>
<br />

<spacer></spacer>
<center><hr style="width:50%"></center>
<br>

  <!-- Adding Siurana -->
  <div id="sample_div">
    <img src="{{ site.url }}/assets/figs/siurana.jpg" />
  </div>

    

</div>
